#carousel-750774.carousel.slide
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#carousel-750774"}
    %li{"data-slide-to" => "1", "data-target" => "#carousel-750774"}
    %li{"data-slide-to" => "2", "data-target" => "#carousel-750774"}
    %li{"data-slide-to" => "3", "data-target" => "#carousel-750774"}
  .carousel-inner
    .item.active
      %img.carro{:alt => "", :src => "http://www.espaciolila.com/wasanyaka/wp-content/uploads/2013/07/cabecera02.jpg"}/
      .carousel-caption
        %h4
          First Thumbnail label
        %p
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
    .item
      %img.carro{:alt => "", :src => "http://www.mediafire.com/convkey/dee1/wngf1m92n4nx8l9fg.jpg"}/
      .carousel-caption
        %h4
          Second Thumbnail label
        %p
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
    .item
      %img.carro{:alt => "", :src => "http://www.mediafire.com/convkey/5a7e/ai0n9qapd555h3zfg.jpg"}/
      .carousel-caption
        %h4
          Third Thumbnail label
        %p
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
    .item
      %img.carro{:alt => "", :src => "http://www.mediafire.com/convkey/b985/exh8v6ihet7w0vvfg.jpg"}/
      .carousel-caption
        %h4
          Third Thumbnail label
        %p
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
  %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-750774"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-750774"}
    %span.glyphicon.glyphicon-chevron-right
.jumbotron
  %h1
    Hello, world!
  %p
    This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
  %p
    %a.btn.btn-primary.btn-large{:href => "#"} Learn more
.row
  .col-md-4
    .thumbnail
      %img{:alt => "300x200", :src => "http://lorempixel.com/600/200/people"}/
      .caption
        %h3
          Thumbnail label
        %p
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
        %p
          %a.btn.btn-primary{:href => "#"} Action
          %a.btn{:href => "#"} Action
  .col-md-4
    .thumbnail
      %img{:alt => "300x200", :src => "http://lorempixel.com/600/200/city"}/
      .caption
        %h3
          Thumbnail label
        %p
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
        %p
          %a.btn.btn-primary{:href => "#"} Action
          %a.btn{:href => "#"} Action
  .col-md-4
    .thumbnail
      %img{:alt => "300x200", :src => "http://lorempixel.com/600/200/sports"}/
      .caption
        %h3
          Thumbnail label
        %p
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
        %p
          %a.btn.btn-primary{:href => "#"} Action
          %a.btn{:href => "#"} Action